


<% @posts.each do |post| %>
<div class="well">
  <div class="page-header">
  <h1><%= post.title.humanize %><small> By: <%= post.user.name%></small></h1>
  </div>
  <p><%=h truncate(post.content, :length => 200) %>...  <a href="/posts/<%= post.id %>">Read more</a></p>
  <a <a href="/posts/<%= post.id %>" class="btn btn-primary" type="button">
  Comments <span class="badge"><%= Comment.where(post_id: post.id).count %></span>
	</a>
</div>
<% end %>